*{font-family: Arial,serif;}
html{background-color: gray;background-image: linear-gradient(to bottom,#8d8d8d,#3b3b3b);min-height: 1200px;}
.rounded{padding: 1% ;margin: 3% 20px;border-radius:10px;float: center;background-image: linear-gradient(to right, rgba(54, 98, 218, 0.432),#1ad9eb52);max-width: 900px;}
.grid-three-column
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

.field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    cursor : pointer;
}
.emailCheck{padding: 1%;}

.button
{
  border: 0;
  padding: .75rem 1rem;
  border-radius: .75rem;
  font-weight: 700;
  cursor: pointer;
}
.actions
{
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin-top: 5px;

}
/* the hidden steps for the radio button navigation */

/* hides steps by default*/
.step 
{
    display: none;
}

/* Show Step 1 when #slide1 is checked */
body:has(#slide1:checked) .step-1 {
  display: block;
  opacity: 1;
  transform: none;
}

/* Show Step 2 when #slide2 is checked */
body:has(#slide2:checked) .step-2 {
  display: block;
  opacity: 1;
  transform: none;
}

